<f:view xmlns="http://www.w3c.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>SprintBoot</title>
    </h:head>
    <h:body>
        <div>
            <p>Bem Vindo!</p>
            <p><a href="/pagina-rh.xhtml">RH</a></p>
            <p><a href="/pagina-outro.xhtml">Outro</a></p>
        </div>
    </h:body>
</f:view>